<footer class=" text-center text-lg-start" style="background-color: rgb(21, 21, 21);">
  <!-- Grid container -->
  <div class="container p-4" >
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" >
        

        <ul class="list-unstyled mb-0">
          <li>
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Hajime_no_Ippo.png" height="100px">
          </li>

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        


      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-light">
        <h5>Indice</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-light">Personajes</a>
          </li>
          <li>
            <a href="#!" class="text-light">Historia</a>
          </li>
          <li>
            <a href="#!" class="text-light">Peleas</a>
          </li>

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        
<h5 class="text-light">Sigueme</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-light">Instagram</a>
          </li>
          <li>
            <a href="#!" class="text-light">GitHub</a>
          </li>

        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-light p-3 " style="background-color: black">
    © 2023 Copyright:
    <a class="text-light" href="https://mdbootstrap.com/">Arsdrades</a>
  </div>
  <!-- Copyright -->

    <!-- Grid container -->
  
    <!-- Copyright -->

    <!-- Copyright -->
  </footer>