<div class="card h-100" >
    <img [src]="dataEntrante.img" class="card-img-top " style="height: 400px;" alt="...">
    <div class="card-body">
        
        
      <h5 class="card-title">{{dataEntrante.nombre}}</h5>
      <p><b class="card-text">Edad: {{dataEntrante.edad}} años</b></p>
      <p><b class="card-text">Categoria: {{dataEntrante.categoria}} </b></p>
      <p><b class="card-text">Victorias: {{dataEntrante.victorias}} </b></p>
      <p><b class="card-text">Derrotas: {{dataEntrante.derrotas}} </b></p>
      <p><b class="card-text">Gimnasio: {{dataEntrante.gimnasio}} </b></p>
      <hr>
    
</div>
  </div>
