<body>


  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Historia</h1>
      <p class="lead font-weight-normal">"Hajime no Ippo" es un anime de deportes que sigue la historia de Makunouchi Ippo, un joven tímido y reservado que es constantemente intimidado por sus compañeros de clase. Un día, después de ser salvado por el famoso boxeador Takamura Mamoru, Ippo descubre su amor por el boxeo y comienza a entrenar en el gimnasio Kamogawa.</p>

    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>

 
<app-footer></app-footer>